<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | Khansa Reg</title>

    <link rel="stylesheet" href="./src/vendor/bootstrap441/css/bootstrap.min.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <h3 style="margin-top: .5em">Login Khanza Reg</h3>
            <br />
            <form @submit.prevent="login">
                <div class="form-group">
                    <label for="usr">User Name:</label>
                    <input type="text" class="form-control" v-model="username" ref="username">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" v-model="password">
                </div>
                <button class="btn btn-primary" id="btn-login" type="submit">Login</button>
                <button class="btn btn-default float-right" id="btn-exit" type="button" @click="keluar">Keluar</button>
            </form>
            <div v-if="notif" class="alert alert-danger" role="alert" style="margin-top: .5em">
                {{notif}}
            </div>
        </div>
    </div>

    <script src="./src/vendor/bootstrap441/js/bootstrap.min.js"></script>

    <script type="module" src="./src/login.js"></script>
</body>

</html>